@import url('https://fonts.googleapis.com/css?family=Comfortaa|Righteous');

body {
  background: url(https://cdn.pixabay.com/photo/2015/07/28/22/11/wheat-865152_960_720.jpg);
  margin: 0;
  background-size: cover;
  font-family: 'Comfortaa', cursive;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* .Edit {
  text-align: left;
  padding: 1px;    
  margin: 1;
} */
 nav {
  font-size: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}


h1 {
  font-family: 'Righteous', cursive;
  /* background: lightcyan; */
  margin:0; 
  margin-bottom: .5em;
  padding: 0.2em;
  text-align: center;
}

a {
  color: red;
  background: lightcyan;
  background-size: 1px;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  margin: 50px;
  text-align: right;
  padding: 1px;
  justify-content: space-between 10px;
  border-radius: 5px;
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: black;
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: black;
  font-size: 1em;
}

.form-control {
  font-size: 15px;
}
 
.newRecipe {
  border: 10px;
  padding: 20px;
}

.img-wrapper {
  width: 300px;
  height: 300px;
  margin: 0 auto 20px;
}

.img-wrapper img {
  height: 100%;
  border-radius: 50%;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.recipes .recipe {
  list-style: none;
  width: calc(100%/ 3 - 20px);
  margin-bottom: 30px;
}

.recipes .recipe:not(:last-child) {
  margin-right: 20px;
}

.recipes .recipe a {
  display: block;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
}

.recipes .recipe .recipe-image {
  height: 300px;
}

.recipes .recipe .recipe-image img {
  height: 100%;
}

.recipe-content {
  position: relative;
  padding: 10px;
  word-spacing: 10px;
}

.recipe-content::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.2);
}

form {
  width: fit-content;
  margin: 0 auto;
}

form label {
  min-width: 150px;
  display: inline-block;
}

form small {
  display: block;
}